[submodule "astronvim_config"]
	path = astronvim_config
	url = https://github.com/treramey/astronvim_config.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/treramey/nvim
