{{ if ne .chezmoi.os "darwin" }}
.config/aerospace
.config/skhd
.config/borders
.config/karabiner
.config/svim
.config/spicetify
.config/spotify_player
.config/NuGet
.config/fmdt
{{ end }}

.config/fish/fish_variables
# Fisher-managed plugin files (plugin-git, fzf.fish)
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/git.fish
.config/fish/functions/__git.*.fish
.config/fish/functions/gbage.fish
.config/fish/functions/gbda.fish
.config/fish/functions/gdv.fish
.config/fish/functions/gignored.fish
.config/fish/functions/glp.fish
.config/fish/functions/grename.fish
.config/fish/functions/grt.fish
.config/fish/functions/gtest.fish
.config/fish/functions/gtl.fish
.config/fish/functions/gunwip.fish
.config/fish/functions/gwip.fish
.config/fish/functions/_fzf_*.fish
.config/fish/functions/fzf_configure_bindings.fish
.config/fish/completions/fzf_configure_bindings.fish
.config/nvim/.undodir
.config/nvim/.luarc.json
.config/opencode/node_modules
.config/opencode/*.bak
