# dependencies
node_modules
agent/npm/node_modules
agent/extensions/**/node_modules

# build/cache output
out
dist
coverage
*.lcov
*.tsbuildinfo
.cache
logs
*.log
report.*.json

# dotenv / local editor state
.env
.env.*.local
.idea
.DS_Store
