[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.ruby]

[settings.dotnet]
isolated = true

[tools]
{{ range .packages.mise.common -}}
{{ .name | quote }} = {{ .version | quote }}
{{ end -}}
